<div class="default-banner">
    <h1>Latest articles</h1>
</div>

<div class="l-content">
    <div class="pure-g">
        <div ng-repeat="article in articles" class="pure-u-1 pure-u-sm-3-4 center-content">
            <div class="pure-u-1-4"></div>
            <div class="article-preview pure-u-lg-1-2">
                <div class="pure-u-2-24">
                    <img class="pure-img clip-circle" src="static/images/user_icon.png" alt="Profile Image"/>
                </div>
                <div class="pure-u-7-8">
                    <h1 ui-sref="showArticle({id: article.id})" class="hoverhand">{{article.title}}</h1>
                    <p>By: {{article.author.first_name }} {{article.author.last_name}}</p>
                </div>
            </div>
        </div>
    </div>
</div> <!-- end l-content -->