body {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;

  color: @blue-light;
}

h2, h3 {
  letter-spacing: 0.25em;
  text-transform: uppercase;
  font-weight: 600;
}

p {
  line-height: 1.6em;
}

/*
 * -- Layout Styles --
 */
.l-content {
  margin: 0 auto;
}

.l-box {
  padding: 0.5em 2em;
}

/*
 * -- MENU STYLES --
 */
.pure-menu {
  box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}

.banner {
  background:  linear-gradient(
          rgba(0, 0, 0, 0.6),
          rgba(0, 0, 0, 0.6)
  ),url('https://download.unsplash.com/photo-1428954376791-d9ae785dfb2d') center center no-repeat;
  text-align: center;
  background-size: cover;

  height: 10vh;
  width: 100%;
  margin-bottom: 1.5em;
  display: table;
}

.banner-head {
  text-align: left;
  padding-left: 10px;

  margin: 4em auto 0;
  max-width: 980px;
  color: white;
  font-family: "Avenir",'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: .05em;
  text-shadow: 0 1px 20px rgba(0,0,0,.6);
}


#banner-desc{
  text-align: left;
  max-width: 980px;
  padding-left: 10px;
  margin: 10px auto 0;
  color: white;
  font-weight: 200;
  font-family:'Open Sans', sans-serif;
  text-shadow: 0 1px 20px rgba(0,0,0,.6);
  text-transform: none;
  letter-spacing: 0;
  font-size: 2vmax;

}

.big-center{

}



.center{
  text-align: center;
}

.quote{
  font-weight: 200;
}




/*
 * -- BUTTON --
 * This inherits from Pure Button.
 */
.button-choose {
  border: 1px solid #ccc;
  background: #fff;
  font-size: 1.4em;
  color: #333;
  border-radius: 2em;
  font-weight: bold;
  position: relative;
  bottom: -1.5em;
}

.information-head {
  color: black;
  font-weight: 500;
}

.footer {
  background: #0e2b34;
  color: #888;
  text-align: center;
}
.footer a {
  color: #ddd;
}



/*
 * -- TABLET MEDIA QUERIES --
 * On tablets, we want to slightly adjust the size of the banner
 * text and add some vertical space between the various pricing tables
 */
@media(min-width: 767px) {

  .banner-head {
    font-size: 4em;
  }
  .topic {
    margin-bottom: 0;
  }

}

/*
 * -- PHONE MEDIA QUERIES --
 * On phones, we want to reduce the height and font-size of the banner further
 */
@media (min-width: 480px) {
  .banner {
    height: 400px;
  }
  .banner-head {
    font-size: 3em;
  }
}
