<div id="loginInfo" class="border-round">
    <form class="pure-form" action="/" id="myLogin">
        <div class="center">
            <h1>{{h1}}</h1>or <a ng-click="switch()">{{alt}}</a></span>
        </div>
        <br/>
        <hr class="hr-style"/>
        <br/>
        <fieldset class="pure-group">
            <input type="text" class="pure-input-1" name="username" id="username" placeholder="Username"/>
            <input ng-show="!login" type="email" class="pure-input-1" name="email" id="email" placeholder="Email"/>
            <input type="{{showpw ? 'text':'password'}}" class="pure-input-1" name="password" id="password" placeholder="Password"/>
            <input ng-show="!login" type="{{showpw ? 'text':'password'}}" class="pure-input-1" name="passwordAlt" id="passwordAlt" placeholder="Repeat password"/>
        </fieldset>
        <label for="show-password" class="pure-checkbox">
            <input name="show-password" id="show-password" ng-model="showpw" type="checkbox"> Show password
        </label>
        <label ng-show="!login" for="terms" class="pure-checkbox">
            <input  name="test2" id="terms" ng-checked="testModel.item2" type="checkbox"> I've read the <a href="">terms and conditions</a>
        </label>
        <div class="pure-g">
            <div class="pure-u-1">
                <button type="button" class="pure-button pure-input-1 pure-button-primary blue-bg" ng-click="submit">{{btn}}</button>
            </div>
        </div>
    </form>
</div>