body {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #526066;
}
h2,
h3 {
  letter-spacing: 0.25em;
  text-transform: uppercase;
  font-weight: 600;
}
p {
  line-height: 1.6em;
}
/*
 * -- Layout Styles --
 */
.l-content {
  margin: 0 auto;
}
.l-box {
  padding: 0.5em 2em;
}
/*
 * -- MENU STYLES --
 */
.pure-menu {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://download.unsplash.com/photo-1428954376791-d9ae785dfb2d') center center no-repeat;
  text-align: center;
  background-size: cover;
  height: 10vh;
  width: 100%;
  margin-bottom: 1.5em;
  display: table;
}
.banner-head {
  text-align: left;
  padding-left: 10px;
  margin: 4em auto 0;
  max-width: 980px;
  color: white;
  font-family: "Avenir", 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: .05em;
  text-shadow: 0 1px 20px rgba(0, 0, 0, 0.6);
}
#banner-desc {
  text-align: left;
  max-width: 980px;
  padding-left: 10px;
  margin: 10px auto 0;
  color: white;
  font-weight: 200;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 0 1px 20px rgba(0, 0, 0, 0.6);
  text-transform: none;
  letter-spacing: 0;
  font-size: 2vmax;
}
/*
 * -- TOPIC BOX WRAPPER --
 */
.topic-box,
.information {
  max-width: 980px;
  margin: 0 auto;
}
.center {
  text-align: center;
}
.quote {
  font-weight: 200;
}
.topic-box {
  margin-bottom: 3.125em;
  text-align: center;
}
/*
 * -- TPOIC BOX --
 * Every topic box has the .topic-box class
 */
.topic {
  border: 1px solid #ddd;
  margin: 1em 0.5em 2em;
}
/*
 * -- TOPIC BOX HEADER COLORS --
 * Choose a different color based on the type of pricing table.
 */
.topic-box-free .topic-box-header {
  background: #3E606F;
}
.selectable {
  background: #3E606F;
}
.selected {
  background: #91AA9D !important;
  cursor: pointer;
}
.selectable:hover {
  cursor: pointer;
  background: #91AA9D;
}
.topic-box-biz .topic-box-header {
  background: #2c4985;
}
/*
 * -- TOPIC BOX HEADER --
 * By default, a header is black/white, and has some styles for its <h2> name.
 */
.topic-box-header {
  background: #313131;
  color: #fff;
}
.topic-box-header h2 {
  margin: 0;
  padding-top: 2em;
  padding-bottom: 1em;
  font-size: 1em;
  font-weight: normal;
}
.topic-box-icon {
  font-size: 6em;
  margin: 0.2em 0 0;
  font-weight: 100;
}
.topic-box-icon span {
  margin-top: 1em;
  display: block;
  font-size: 0.15em;
  padding-bottom: 2em;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  *color: #fff;
}
/*
 * -- TABLE LIST --
 * Each table has a <ul> which is denoted by the .topic-box-list class
 */
.topic-box-desc {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
/*
 * -- LIST ELEMENTS --
 * Styles for the individual list elements within a table
 */
.topic-box-desc li {
  padding: 0.8em 0;
  background: #f7f7f7;
  border-bottom: 1px solid #e7e7e7;
}
/*
 * -- BUTTON --
 * This inherits from Pure Button.
 */
.button-choose {
  border: 1px solid #ccc;
  background: #fff;
  font-size: 1.4em;
  color: #333;
  border-radius: 2em;
  font-weight: bold;
  position: relative;
  bottom: -1.5em;
}
.information-head {
  color: black;
  font-weight: 500;
}
.footer {
  background: #0e2b34;
  color: #888;
  text-align: center;
}
.footer a {
  color: #ddd;
}
/*
 * -- TABLET MEDIA QUERIES --
 * On tablets, we want to slightly adjust the size of the banner
 * text and add some vertical space between the various pricing tables
 */
@media (min-width: 767px) {
  .banner-head {
    font-size: 4em;
  }
  .topic {
    margin-bottom: 0;
  }
}
/*
 * -- PHONE MEDIA QUERIES --
 * On phones, we want to reduce the height and font-size of the banner further
 */
@media (min-width: 480px) {
  .banner {
    height: 400px;
  }
  .banner-head {
    font-size: 3em;
  }
}
