<div class="default-banner center-text">
    <h1 class="banner-head">{{article.title}}<br/></h1>
    <h2 id="banner-desc">{{article.introduction}}</h2>
    <a href="#/topic/{{article.topics[0].id}}" class="tag">AngularJS</a>
    <p><small><em>By <a href="#/user/{{article.author.id}}">{{article.author.first_name}} {{article.author.last_name}}</a> in <a href="#/topic/{{article.topics[0].id}}">{{article.topics[0].title}}</a></em></small></p>
</div>

<div class="l-content">
    <div ng-repeat="paragraph in article.paragraphs">
        <paragraph content="paragraph" prev="false"></paragraph>
        <!--<hr class="hr-style"/>-->
    </div>
    <div class="topic-box pure-g">
        <div class="pure-u-1">
            <p>Inspired by this article? Write your own <a style="font-weight: 600" href="#/profile">now</a>.</p>
        </div>
    </div> <!-- end topics-boxes-->
</div> <!-- end l-content -->