<div class="default-banner center-text">
    <h1 contenteditable="true" class="banner-head" data-ph="Title" ng-model="article.title"></h1>
    <h2 contenteditable="true" id="banner-desc" data-ph="Description" ng-model="article.introduction"></h2>
    <p><small>In
        <select ng-model="article.topics" ng-options="topic.id as topic.title for topic in topics"></select>
    </small></p>
    <p ng-show="article.state.saved">
        <small><em>Last saved: {{state.timestamp | date:'medium'}}</em></small>
    </p>
</div>
<div class="l-content">
    <div class="paragraph" ng-repeat="paragraph in paragraphs">
        <div class="information pure-g">
            <div ng-click="delete(paragraph)" class="deleteButton hoverhand"><i class="fa fa-trash-o"></i></div>
            <paragraph content="paragraph"></paragraph>
        </div>
    </div>
    <div class="center-text">
        <button class="pure-button pure-button-primary blue-bg" ng-click="newParagraph()">
            <i class="fa fa-plus"></i> New Section</button>
        <button class="pure-button pure-button-primary blue-bg" ng-click="save()">Save</button>
        <button ng-click="article.published = !article.published" ng-show="!article.published" class="pure-button">Not Published</button>
        <button ng-click="article.published = !article.published" ng-show="article.published" class="pure-button pure-button-primary blue-bg">Published</button>
    </div>
    <div class="topic-box pure-g">
        <div class="pure-u-1">
            <p class="error" ng-bind="helptext"></p>
        </div>
    </div> <!-- end topics-boxes-->
</div> <!-- end l-content -->