<div class="default-banner center-text">
    <h1 contenteditable="{{signedIn}}" class="banner-head" data-ph="Title" ng-model="article.title"></h1>
    <h2 contentEditable="{{signedIn}}" id="banner-desc" data-ph="Description" ng-model="article.introduction"></h2>
    <p><small>In <select
            ng-model="article.selectedTopic"
            ng-options="topic as topic.title for topic in topics">
    </select><br/>{{article.selectedTopic.description}}</small></p>

</div>
<div class="l-content">
    <form ng-model="para">
        <div ng-repeat="p in content track by $index">
            <div class="information pure-g">
                <div class="pure-u-1 pure-u-md-1-8"></div>
                <div class="pure-u-1 pure-u-md-3-4 center">
                    <div class="l-box">
                        {{$index}} {{p}}
                        <h1 contenteditable="{{signedIn}}" data-ph="Section title" class="quote" ng-model="para.headline">{{p.headline}}</h1>
                        <p contenteditable="{{signedIn}}" data-ph="Your great story" class="readable" ng-model="para.text">{{p.text}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="center-text">
            <button class="pure-button pure-button-primary blue-bg" ng-click="click(para)">
                <i class="fa fa-plus"></i> New Section</button>
        </div>
    </form>
    <div class="topic-box pure-g">
        <div class="pure-u-1">
            <p class="error" ng-bind="helptext"></p>
        </div>
    </div> <!-- end topics-boxes-->
</div> <!-- end l-content -->