<div class="pure-u-1 pure-u-md-1-2"></div>
<div class="pure-u-1 center">
    <div class="l-box">
        <!--<h1 contentEditable="true" data-ph="Section title" class="headline" somevar="testA" ng-model="a.content">{{content.headline}}</h1>-->
        <!--<p contentEditable="true" data-ph="Your great story" class="readable" somevar="testB" ng-model="b.content">{{content.text}}</p>-->
        <h1 contentEditable="{{owner}}" data-ph="Section title" class="headline" callback="saveHeadline()" ng-model="headline">{{paragraph.headline}}</h1>
        <p contentEditable="{{owner}}" data-ph="Your great story" class="readable" callback="saveText()" ng-model="text">{{paragraph.text}}</p>
    </div>
</div>