<div>
<!--     <input type="checkbox" class="" id="menu-button">
    <label class="toggle" for="menu-button">
        <s class="bar"></s>
        <s class="bar"></s>
    </label> -->

    <div class="outer">
        <div class="flexbar">
            <a ng-hide="$root.user" href="#/welcome" class="nav-item">Home</a>
            <a href="#/topics" class="nav-item">Topics</a>    
            <a href="#/feed" class="nav-item">Feed</a>
            <div ng-show="$root.user" class="nav-item">
                <a href="#/profile">Profile <small>/</small></a>
                <a href="#/logout">Logout</a>
            </div>
            <div ng-hide="$root.user" class="nav-item">
                <a href="#/login">Login <small>/</small></a>
                <a href="#/register">Register</a>
            </div>    
        </div>
    </div>
</div>