<div>
    <input type="checkbox" ng-model="check" class="" id="menu-button">
    <label class="toggle" for="menu-button">
        <s class="bar"></s>
        <s class="bar"></s>
    </label>

    <div class="outer">
        <div class="flexbar">
            <p class="logo">lessonlist</p>
            <a ng-click="checked()" ng-hide="$root.user" href="#/welcome" class="nav-item"
            >Home</a>
            <a ng-click="checked()" href="#/topics" class="nav-item">Topics</a>    
            <a ng-click="checked()" href="#/feed" class="nav-item">Feed</a>
            <div ng-show="$root.user" class="nav-item">
                <a ng-click="checked()" href="#/profile">Profile <small>/</small></a>
                <a ng-click="checked()" href="#/logout">Logout</a>
            </div>
            <div ng-hide="$root.user" class="nav-item">
                <a ng-click="checked()" href="#/login">Login <small>/</small></a>
                <a ng-click="checked()" href="#/register">Register</a>
            </div>
        </div>
    </div>
</div>