<div>
    <input type="checkbox" ng-model="check" class="" id="menu-button">
    <label class="toggle" for="menu-button">
        <s class="bar"></s>
        <s class="bar"></s>
    </label>

    <div class="outer">
        <div class="flexbar">
            <p class="logo">lessonlist</p>
            <a ng-click="checked()" ng-hide="user" ui-sref-active="active" ui-sref="welcome" class="nav-item"
            >Home</a>
            <a ng-click="checked()" ui-sref-active="active" ui-sref="topics" class="nav-item">Topics</a>
            <a ng-click="checked()" ui-sref-active="active" ui-sref="feed" class="nav-item">Feed</a>
            <div ng-show="user" class="nav-item">
                <a ng-click="checked()" ui-sref-active="active" ui-sref="myProfile">Profile</a><small> /</small>
                <a ng-click="checked()" ui-sref-active="active" ui-sref="logout">Logout</a>
            </div>
            <div ng-hide="user" class="nav-item">
                <a ng-click="checked()" ui-sref-active="active" ui-sref="login">Login</a><small> /</small>
                <a ng-click="checked()" ui-sref-active="active" ui-sref="register">Register</a>
            </div>
        </div>
    </div>
</div>