<h1 class="v-space-2"></h1>
<div class="pure-g">

    <div class="pure-u-1 pure-md-1-3"></div>
    <div class="pure-u-1 pure-md-1-3">


        <div id="loginInfo" class="border-round">
            <form ng-submit="submit(form)" class="pure-form" ng-model="form">
                <div class="center-text">
                    <h1>Sign up</h1>or <a ng-href="/login">Login</a></span>
                </div>
                <br/>
                <hr class="hr-style"/>
                <br/>
                <fieldset class="pure-group">
                    <input ng-model="form.first_name" type="text" class="pure-input-1" name="firstName" id="firstName" placeholder="First Name" tabindex=1/>
                    <input ng-model="form.last_name" type="text" class="pure-input-1" name="lastName" id="lastName" placeholder="Last Name" tabindex=2/>
                    <input ng-model="form.username" type="email" class="pure-input-1" name="email" id="email" placeholder="Email" tabindex=3/>
                    <input ng-model="form.password" type="{{showpw ? 'text':'password'}}" class="pure-input-1" name="password" id="password" placeholder="Password" tabindex=4/>
                </fieldset>

                <p ng-if="error.err" class="center-text center-content error">{{error.msg}}</p>

                <label for="show-password" class="pure-checkbox">
                    <input name="show-password" id="show-password" ng-model="showpw"  type="checkbox" tabindex=5> Show password
                </label>
                <label for="terms" class="pure-checkbox">
                    <input  name="terms" id="terms" type="checkbox"> I've read the <a href="">terms and conditions</a>
                </label>

                <div class="pure-g">
                    <div class="pure-u-1">
                        <spinner ng-if="pending"></spinner>
                        <button type="submit" class="pure-button pure-input-1 pure-button-primary blue-bg" tabindex=6>Register</button>
                        <hr class="hr-style"/>
                    </div>
                </div>
            </form>
        </div>



    </div>
</div>