<h1 class="v-space-2"></h1>
<div class="pure-g">


    <div class="pure-u-1 pure-u-sm-3-4 center-content">
        <div class="pure-u-1-4"></div>
        <div class="pure-u-lg-1-2 user-info">
            <div class="pure-u-2-5 center-text">
                <div class="circular">
                    <img class="pure-img clip-circle center-content" src="{{user.profile_image}}" alt="Profile Image"/>
                </div>
            </div>
            <div class="pure-u-7-12 center-content pull-right">
                <h1>{{user.first_name}} {{user.last_name}}</h1>
                <p>{{user.username}}</p>
                <p class="help-text"><em>{{$root.user.id}}</em></p>
                <button ng-if="$root.user.id" class="button-error pure-button pure-u-3-5" type="button" ng-click="logout()" ng-confirm-click="Log out?">Log out</button>
            </div>
        </div>
    </div>

    <div ng-if="$root.user.id" class="pure-u-1 pure-u-sm-3-4 center-content center-text account-settings">
        <div class="v-space-2"></div>
        <hr class="hr-style"/>
        <div class="v-space-2"></div>

        <button ng-click='toggleModal()'>Open Modal Dialog</button>

        <modal-dialog show='modalShown' width='750px' height='60%'>
            <p>Create new article</p>
        </modal-dialog>

        <div class="v-space-2"></div>
        <hr class="hr-style"/>
        <div class="v-space-2"></div>
        <p>Account settings:</p>
        <div class="button-group center-content">

            <div ng-if="successMessage">
                <h4>{{successMessage}}</h4>
            </div>

            <button ng-if="!user.facebookId" class="pure-button pure-button-primary blue-bg pure-u-1-2" ng-click="togglePasswordForm()">Change password</button>
            <div ng-show="passwordForm" id="loginInfo">
                <form ng-submit="changePassword()" class="pure-form new-password">
                    <div ng-if="error">
                        <h4>{{error}}</h4>
                    </div>
                    <input type="password" class="pure-input-1" ng-model="newPassword" placeholder="Password" required>
                    <input type="password" class="pure-input-1" ng-model="repeatedNewPassword" placeholder="Repeat password" required>
                    <button type="submit" class="pure-button pure-input-1 pure-button-primary blue-bg">Update password</button>
                </form>
            </div>


            <button class="button-error pure-button pure-u-1-2" type="button" ng-click="deleteAccount()" ng-confirm-click="Are you sure? This will delete your account forever!">Delete account</button>

        </div>
        <div class="v-space-2"></div>
        <hr class="hr-style"/>
        <p>Visit the <strong><a href="#/lab">lab...</a></strong></p>
    </div>



</div>
