<h1 class="v-space-2"></h1>
<div class="pure-g">

    <div class="pure-u-1 pure-u-sm-3-4 center-content">
        <div class="pure-u-1-4"></div>
        <div class="pure-u-lg-1-2 user-info">
            <div class="pure-u-2-5 center-text">
                <div class="circular">
                    <img class="pure-img clip-circle center-content" src="static/images/user_icon.png" alt="Profile Image"/>
                </div>
            </div>
            <div class="pure-u-7-12 center-content pull-right">
                <h1>{{user.first_name}} {{user.last_name}}</h1>
                <p>{{user.username}}</p>
                <!-- <p class="help-text"><em>{{owner}}</em></p> -->
                <button ng-if="owner" class="button-error pure-button pure-u-3-5" type="button" ng-click="logout()" ng-confirm-click="Log out?">Log out</button>
            </div>
        </div>
    </div>

    <div ng-if="owner" class="pure-u-1 pure-u-sm-3-4 center-content center-text account-settings">
        <div class="v-space-2"></div>
        <hr class="hr-style"/>
        <div class="v-space-2"></div>

        <!--<button class="button-error pure-button pure-u-1-4" ng-click='toggleModal()'>Create new article</button>-->
        <button class="button-error pure-button pure-u-1-4" ng-click='$root.modal = !$root.modal'>Create new article</button>
        <!--<modal-dialog show='$root.modal' width='750px' height='60%'></modal-dialog>-->

        <div class="v-space-2"></div>
        <hr class="hr-style"/>
        <div class="v-space-2"></div>
        <p>Account settings:</p>
        <div class="button-group center-content">

            <div ng-if="successMessage">
                <h4>{{successMessage}}</h4>
            </div>

            <button ng-if="!user.facebookId" class="pure-button pure-button-primary blue-bg pure-u-1-2" ng-click="togglePasswordForm()">Change password</button>
            <div ng-show="passwordForm" id="loginInfo">
                <form ng-submit="changePassword()" class="pure-form new-password">
                    <div ng-if="error">
                        <h4>{{error}}</h4>
                    </div>
                    <input type="password" class="pure-input-1" ng-model="newPassword" placeholder="Password" required>
                    <input type="password" class="pure-input-1" ng-model="repeatedNewPassword" placeholder="Repeat password" required>
                    <button type="submit" class="pure-button pure-input-1 pure-button-primary blue-bg">Update password</button>
                </form>
            </div>

            <button class="button-error pure-button pure-u-1-2" type="button" ng-confirm-click="Are you sure? This will delete your account forever!" ng-confirmed="deleteAccount()">Delete account</button>

        </div>
        <div class="v-space-2"></div>
        <hr class="hr-style"/>
        <p>Your articles:</p>
        <div class="l-box" ng-repeat="article in myArticles">
            <div class="tinyList">
                <a href="#/article/{{article.id}}">
                    <p>{{article.title}}</p>
                    <p><small>Published: {{article.published}} | Created: {{article.date_created}}</small></p>
                </a>
                <button class="button-error pure-button pure-u-1-2" type="button" ng-confirm-click="Are you sure? This will delete your article forever!" ng-confirmed="deleteArticle(article)">Delete article</button>
                
            </div>
        </div>
    </div>
</div>
